.highlight {
position: absolute;
opacity: 0.45;
pointer-events: none;
border-radius: 3px;
}
.highlight.text { background: rgba(255,0,0,0.45); }
.highlight.font { background: rgba(0,0,255,0.45); }
.highlight.position { background: rgba(0,255,0,0.45); }