.highlight {
  position: absolute;
  border-radius: 3px;
  pointer-events: none;
}

.highlight.text { background: rgba(255,0,0,0.45); }
.highlight.font { background: rgba(0,0,255,0.45); }
.highlight.position { background: rgba(0,255,0,0.45); }